
<mat-sidenav-container autosize>
  <mat-sidenav mode="side" [opened]="true" [ngClass]="{'mobile-sidenav': isMobile}">
    <app-side-nav-list (toggleMenu)="toggleMenu()"
                       [isMenuShown]="isMenuExpanded"
                       [sideNavRoutes]="sideNavRoutes">
    </app-side-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="{'mobile-content': isMobile}"
                       [style.margin-left.px]="!isMobile ? (!isMenuExpanded ? 60 : 150) : 60">
    <div class="content-container" [ngClass]="{'mobile-padding': isMobile}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
