<button mat-raised-button color="primary" type="button" style="margin-right: 10px;" (click)="goback()">Back</button>

<div class="applicant-list">
    <mat-card class="application-card">
        
        <mat-card-header>
            <mat-card-title class="title">
                <h2>Results for - {{search}}</h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div *ngIf="applicants">
                <div *ngFor="let app of applicants">
                    <div class="row">
                        <img [src]="app.profile_pic || 'assets/default-profile.jpg'" width="50px" height="50px" class="profile-pic">
                        <p>
                            <a [routerLink]="'/business/app-profile/' + app.id">{{app.firstName}} {{app.lastName}}  </a> 
                            {{app.headline}}
                        </p>
                    </div>
                    <mat-divider style="margin-bottom: 10px;"></mat-divider>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    
</div>